Source: galliumos-skylake
Section: admin
Priority: required
Maintainer: GalliumOS <galliumos@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-skylake
Architecture: all
Priority: required
Depends: galliumos-base
Provides: galliumos-device
#Conflicts: galliumos-haswell, galliumos-sandy, galliumos-baytrail, galliumos-broadwell, galliumos-braswell, galliumos-apollolake, galliumos-kabylake
Conflicts: galliumos-haswell, galliumos-sandy, galliumos-baytrail, galliumos-braswell, galliumos-apollolake, galliumos-kabylake
Replaces: galliumos-haswell, galliumos-sandy, galliumos-baytrail, galliumos-broadwell, galliumos-braswell, galliumos-apollolake, galliumos-kabylake
Description: GalliumOS Skylake customizations
 This package contains Skylake-specific files for GalliumOS
